<#@ output extension=".cs"#>
<#
var modules = new string[]{ "BZip2", "GZip", "LZip" };
#>
using System.Text;
using System.IO;
using dotnet_compressor;
using Xunit;
using System.Threading.Tasks;

namespace DotNet.Compressor.Test
{
<# foreach(var module in modules)
{
#>
    public class TestCodec<#=module#>
    {
        [Fact]
        public async Task Codec()
        {
            var testName = nameof(TestCodec<#=module#>) + nameof(Codec) + "<#=module#>";
            var (tmpDir, sampleDir) = Util.CreateTestDir(testName);
            try
            {
                var comp = new <#=module#>Command();
                var compressInput = Path.Combine(sampleDir, "abc.txt");
                var compressOutput = Path.Combine(tmpDir, "comp.bin");
                await comp.Compress(input: compressInput, output: compressOutput, token: default);
                Assert.True(File.Exists(compressOutput));
                var decomp = new <#=module#>Command();
                var decompressionInput = compressOutput;
                var decompressionOutput = Path.Combine(tmpDir, "decomp.bin");
                await decomp.Decompress(input: decompressionInput, output: decompressionOutput, token: default);
                Assert.True(File.Exists(decompressionOutput));
                var originalBytes = File.ReadAllBytes(compressInput);
                var compBytes = File.ReadAllBytes(compressOutput);
                var decBytes = File.ReadAllBytes(decompressionOutput);
                Assert.Equal(originalBytes, decBytes);
                Assert.NotEqual(decBytes, compBytes);
            }
            finally
            {
                Util.RemoveTestDir(testName);
            }
        }
    }
<#
}
#>
}