name: .NET Binary Release
on:
  release:
    types:
      - published
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "ubuntu-22.04"
            rid: "linux-x64"
            linker: "clang-13"
            imagetype: ubuntu
          - os: "windows-latest"
            rid: "win-x64"
            imagetype: windows
          - os: "macos-13"
            rid: "osx-x64"
            imagetype: mac
    env:
      CppCompilerAndLinker: ${{ matrix.linker }}
    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
      - name: restore dotnet tool
        run: dotnet tool restore
      - name: Build with dotnet(Release)
        run: dotnet tool run dotnet-cake build.cake --Configuration=Release --IsRelease
        if: matrix.imagetype == 'windows'
      - name: collect nuget package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: nupkg-${{matrix.rid}}
          path: dist/Release/nupkg
        if: matrix.imagetype == 'windows'
      - name: update apt cache
        run: sudo apt-get update 
        if: matrix.imagetype == 'ubuntu'
      - name: installing prerequisit packages for corert
        run: sudo apt-get install -y libkrb5-dev zlib1g-dev
        if: matrix.imagetype == 'ubuntu'
      - name: build native binary
        run: "dotnet tool run dotnet-cake build.cake \"--Configuration=Release\" \"--Target=Native\" \"--Runtime=${{matrix.rid}}\""
      - name: stripping binary
        run: strip dist/native/Release/${{matrix.rid}}/dcomp
        if: matrix.imagetype != 'windows'
      - name: collect native binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: bin-${{matrix.rid}}
          path: dist/native/Release/${{matrix.rid}}
  release-win:
    runs-on: "ubuntu-latest"
    needs: ["build"]
    steps:
      - uses: actions/checkout@v1
      - name: downloading nuget package
        uses: actions/download-artifact@v4
        with:
          name: "nupkg-win-x64"
          path: nupkg
      - name: downloading win-x64 binary
        uses: actions/download-artifact@v4
        with:
          name: "bin-win-x64"
          path: win-x64
      - name: upload release windows exe asset
        run: find win-x64 -name '*.exe' -exec gh release upload "${{ github.event.release.tag_name }}" '{}' --clobber ';'
        env:
          GH_TOKEN: ${{github.token}}
      - name: upload release windows pdb asset
        run: find win-x64 -name '*.pdb' -exec gh release upload "${{ github.event.release.tag_name }}" '{}' --clobber ';'
        env:
          GH_TOKEN: ${{github.token}}
      - name: upload release nuget asset
        run: find nupkg -name '*nupkg' -exec gh release upload "${{ github.event.release.tag_name }}" '{}' --clobber ';'
        env:
          GH_TOKEN: ${{github.token}}
      - name: push nuget package to nuget.org
        run: find nupkg -name '*.nupkg' -exec dotnet nuget push -k ${{secrets.NUGET_TOKEN}} -s https://api.nuget.org/v3/index.json '{}' ';'
  release-linux:
    runs-on: "ubuntu-latest"
    needs: ["build"]
    steps:
      - uses: actions/checkout@v1
      - name: downloading linux-x64 binary
        uses: actions/download-artifact@v4
        with:
          name: "bin-linux-x64"
          path: linux-x64
  release:
    runs-on: "ubuntu-latest"
    needs: ["build"]
    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
      - name: restore dotnet tools
        run: dotnet tool restore
      - name: downloading osx-x64 binary
        uses: actions/download-artifact@v4
        with:
          name: "bin-osx-x64"
          path: osx-x64

      - name: copy linux binary
        run: Copy-Item linux-x64/dcomp linux-x64/dcomp.linux-x64 -Force
      - name: copy linux debug binary
        run: Copy-Item linux-x64/dcomp.dbg linux-x64/dcomp.linux-x64.dbg -Force
      - name: upload release linux asset
        run: gh release upload "${{ steps.extract_tag_name.outputs.replaced }}" "linux-x64/dcomp.linux-x64" "linux-x64/dcomp.linux-x64.dbg" --clobber
        env:
          GH_TOKEN: ${{github.token}}
      - name: copy mac binary
        run: Copy-Item osx-x64/dcomp osx-x64/dcomp.osx-x64 -Force
      - name: upload release macos asset
        run: gh release upload "${{ steps.extract_tag_name.outputs.replaced }}" "osx-x64/dcomp.osx-x64" --clobber
        env:
          GH_TOKEN: ${{github.token}}
      - name: upload nupkg to nugetorg
        run: "Get-ChildItem -Recurse -File -Path nupkg -Filter *.nupkg | ForEach-Object { dotnet nuget push -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json $_.FullName }"
        env:
          GH_TOKEN: ${{github.token}}
