name: .NET Binary Release
on:
  release:
    types:
      - published
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "ubuntu-22.04"
            rid: "linux-x64"
            linker: "clang-13"
            imagetype: ubuntu
          - os: "windows-latest"
            rid: "win-x64"
            imagetype: windows
          - os: "macos-13"
            rid: "osx-x64"
            imagetype: mac
    env:
      CppCompilerAndLinker: ${{ matrix.linker }}
    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            10.0.x
      - name: restore dotnet tool
        run: dotnet tool restore
      - name: Build with dotnet(Release)
        run: dotnet tool run dotnet-cake build.cake --Configuration=Release --IsRelease
        if: matrix.imagetype == 'windows'
      - name: collect nuget package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: nupkg-${{matrix.rid}}
          path: dist/Release/nupkg
        if: matrix.imagetype == 'windows'
      - name: update apt cache
        run: sudo apt-get update 
        if: matrix.imagetype == 'ubuntu'
      - name: installing prerequisit packages for corert
        run: sudo apt-get install -y libkrb5-dev zlib1g-dev
        if: matrix.imagetype == 'ubuntu'
      - name: build native binary
        run: "dotnet tool run dotnet-cake build.cake \"--Configuration=Release\" \"--Target=Native\" \"--Runtime=${{matrix.rid}}\""
      - name: stripping binary
        run: strip dist/native/Release/${{matrix.rid}}/dcomp
        if: matrix.imagetype != 'windows'
      - name: collect native binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: bin-${{matrix.rid}}
          path: dist/native/Release/${{matrix.rid}}
  release-win:
    runs-on: "ubuntu-latest"
    needs: ["build"]
    strategy:
      matrix:
        include:
          - rid: win-x64
    steps:
      - uses: actions/checkout@v1
      - name: downloading nuget package
        uses: actions/download-artifact@v4
        with:
          name: "nupkg-${{ matrix.rid }}"
          path: nupkg
      - name: downloading ${{matrix.rid}} binary
        uses: actions/download-artifact@v4
        with:
          name: "bin-${{matrix.rid}}"
          path: ${{matrix.rid}}
      - name: rename windows binary
        run: mv ${{matrix.rid}}/dcomp.exe ${{matrix.rid}}/dcomp-${{matrix.rid}}.exe
      - name: upload release windows exe asset
        run: find ${{matrix.rid}} -name '*.exe' -exec gh release upload "${{ github.event.release.tag_name }}" '{}' --clobber ';'
        env:
          GH_TOKEN: ${{github.token}}
      - name: upload release windows pdb asset
        run: find win-x64 -name '*.pdb' -exec gh release upload "${{ github.event.release.tag_name }}" '{}' --clobber ';'
        env:
          GH_TOKEN: ${{github.token}}
      - name: upload release nuget asset
        run: find nupkg -name '*nupkg' -exec gh release upload "${{ github.event.release.tag_name }}" '{}' --clobber ';'
        env:
          GH_TOKEN: ${{github.token}}
      - name: push nuget package to nuget.org
        run: find nupkg -name '*.nupkg' -exec dotnet nuget push -k ${{secrets.NUGET_TOKEN}} -s https://api.nuget.org/v3/index.json '{}' ';'
  release-linux:
    runs-on: "ubuntu-latest"
    needs: ["build"]
    strategy:
      matrix:
        include:
          - rid: linux-x64
    steps:
      - uses: actions/checkout@v1
      - name: downloading ${{matrix.rid}} binary
        uses: actions/download-artifact@v4
        with:
          name: "bin-${{matrix.rid}}"
          path: ${{matrix.rid}}
      - name: rename binary
        run: mv ${{matrix.rid}}/dcomp ${{matrix.rid}}/dcomp-${{matrix.rid}}
      - name: upload binary asset
        run: find ${{matrix.rid}} -name 'dcomp-${{matrix.rid}}' -exec gh release upload "${{ github.event.release.tag_name }}" '{}' --clobber ';'
        env:
          GH_TOKEN: ${{github.token}}
      - name: upload debug asset
        run: find ${{matrix.rid}} -name 'dcomp.dbg' -exec gh release upload "${{ github.event.release.tag_name }}" '{}' --clobber ';'
        env:
          GH_TOKEN: ${{github.token}}
  release-osx:
    runs-on: "ubuntu-latest"
    needs: ["build"]
    strategy:
      matrix:
        include:
          - rid: osx-x64
    steps:
      - uses: actions/checkout@v1
      - name: downloading ${{matrix.rid}} binary
        uses: actions/download-artifact@v4
        with:
          name: "bin-${{matrix.rid}}"
          path: ${{matrix.rid}}
      - name: rename binary
        run: mv ${{matrix.rid}}/dcomp ${{matrix.rid}}/dcomp-${{matrix.rid}}
      - name: compress debug information files
        run: tar cfz dcomp.dSYM.tgz dcomp.dSYM
        working-directory: ${{matrix.rid}}
      - name: upload binary asset
        run: find ${{matrix.rid}} -name 'dcomp-${{matrix.rid}}' -maxdepth 1 -exec gh release upload "${{ github.event.release.tag_name }}" '{}' --clobber ';'
        env:
          GH_TOKEN: ${{github.token}}
      - name: upload debug asset
        run: gh release upload "${{ github.event.release.tag_name }}" ${{matrix.rid}}/dcomp.dSYM.tgz --clobber
        env:
          GH_TOKEN: ${{github.token}}
